In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from time import time
from sklearn.metrics import *

In [2]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [3]:
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df_true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
df_fake["class"] = 0
df_true["class"] = 1

In [8]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [13]:
# Removing last 10 rows for manual testing
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
    
    
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [14]:
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

In [15]:
df_fake_manual_testing["class"] = 0
df_true_manual_testing["class"] = 1

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11320\860779283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing["class"] = 0
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11320\860779283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing["class"] = 1

In [16]:
df_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [17]:
df_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [ ]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
df_manual_testing.to_csv("manual_testing.csv")

In [18]:
df_merge = pd.concat([df_fake, df_true], axis =0 )
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [19]:
df_merge.shape

(44878, 5)

In [20]:
df_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [21]:
df = df_merge.drop(["title", "subject","date"], axis = 1)

In [22]:
df.head()

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [23]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [24]:
df = df.sample(frac = 1)

In [25]:
df

                                                    text  class
11660  https://www.youtube.com/watch?time_continue=1&...      0
506    I will confess: I belong to a faction of the l...      0
6288   BERLIN (Reuters) - Germany cannot afford to gi...      1
5549   WASHINGTON (Reuters) - A bitterly divided U.S....      1
17549  Unfounded claims that President Trump was film...      0
...                                                  ...    ...
13657  Facebook CEO Mark Zuckerberg appears to be con...      0
14100  MOSCOW/PARIS (Reuters) - The Kremlin said on W...      1
16794  PRAGUE (Reuters) - The websites used for prese...      1
7156   If there s one thing we all know for certain, ...      0
15958  NAIROBI (Reuters) - The U.S. embassy in Eritre...      1

[44878 rows x 2 columns]

In [ ]:
df.to_csv("fake_news.csv",index = False)

In [26]:
df = pd.read_csv('fake_news.csv')

In [27]:
df.head()

   Unnamed: 0                                               text  class
0           0  OSLO (Reuters) - The leader of the group that ...      1
1           1  WASHINGTON (Reuters) - President Donald Trump’...      1
2           2   NEW YORK (Reuters) - If the U.S. presidential...      1
3           3  President @realDonaldTrump:  I inherited a mes...      0
4           4  WASHINGTON/SAN FRANCISCO (Reuters) - Federal R...      1

In [28]:
a = df.loc[0,"text"]

In [29]:
a

'OSLO (Reuters) - The leader of the group that won this year s Nobel Peace Prize on Sunday urged nuclear nations to adopt a United Nations treaty banning atomic weapons in order to prevent  the end of us . The International Campaign to Abolish Nuclear Weapons (ICAN) was awarded this year s Nobel Peace Prize by a Nobel committee that cited the spread of nuclear weapons and the growing risk of an atomic war.   ICAN is a coalition of 468 grassroots non-governmental groups that campaigned for a U.N. Treaty on the Prohibition of Nuclear Weapons, adopted by 122 nations in July. The treaty is not signed by - and would not apply to - any of the states that already have nuclear arms. Beatrice Fihn, ICAN s Executive Director, urged them to sign the agreement.   It provides a choice. A choice between the two endings: the end of nuclear weapons or the end of us,  she said in her speech at the Nobel Peace Prize ceremony in Oslo.  The United States, choose freedom over fear. Russia, choose disarmament over destruction. Britain, choose the rule of law over oppression,  she added, before urging France, China, India, Pakistan, North Korea and Israel to do the same. Israel is widely assumed to have nuclear weapons, although it neither confirms nor denies it.  A moment of panic or carelessness, a misconstrued comment or bruised ego, could easily lead us unavoidably to the destruction of entire cities,  she added.   A calculated military escalation could lead to the indiscriminate mass murder of civilians.   Fihn delivered the Nobel lecture together with Setsuko Thurlow, an 85-year-old survivor of the Hiroshima atomic bombing and now an ICAN campaigner. Thurlow recalled on stage on Sunday some of her memories of the attack on Aug. 6, 1945.  She was rescued from the rubble of a collapsed building about 1.8 kilometers (1.1 mile) from Ground Zero, she said. Most of her classmates, who were in the same room, were burned alive.   Processions of ghostly figures shuffled by. Grotesquely wounded people, they were bleeding, burnt, blackened and swollen,  she said.   Parts of their bodies were missing. Flesh and skin hung from their bones. Some with their eyeballs hanging in their hands. Some with their bellies burst open, their intestines hanging out. The foul stench of burnt human flesh filled the air.   The United States, Britain and France sent second-rank diplomats to the Nobel ceremony, which Fihn earlier told Reuters was  some kind of protest . Japan, which is the only country to suffer atomic bombings and now relies on the U.S. nuclear umbrella, has also not signed the treaty. In a statement late on Sunday, Japanese Foreign Minister Taro Kono expressed respect for the efforts of atomic bombings survivors toward a nuclear-weapons free world. But he added:  It is essential to steadily seek ways to advance nuclear disarmament realistically, while responding appropriately to real threats, including North Korea s nuclear and missile development programs.  Graphic of Nobel laureates - tmsnrt.rs/2y6ATVW '

In [30]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [31]:
df.columns

Index(['Unnamed: 0', 'text', 'class'], dtype='object')

In [32]:
df.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [33]:
df.head()

                                                text  class
0  OSLO (Reuters) - The leader of the group that ...      1
1  WASHINGTON (Reuters) - President Donald Trump’...      1
2   NEW YORK (Reuters) - If the U.S. presidential...      1
3  President @realDonaldTrump:  I inherited a mes...      0
4  WASHINGTON/SAN FRANCISCO (Reuters) - Federal R...      1

In [34]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [35]:
df["text"] = df["text"].apply(wordopt)

In [36]:
df.head()

                                                text  class
0  oslo  reuters    the leader of the group that ...      1
1  washington  reuters    president donald trump ...      1
2   new york  reuters    if the u s  presidential...      1
3  president  realdonaldtrump   i inherited a mes...      0
4  washington san francisco  reuters    federal r...      1

In [37]:
x = df["text"]
y = df["class"]

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [40]:
# Initialize and train a model
model = LogisticRegression(random_state=10)
model.fit(xv_train, y_train)

# Make predictions
y_pred = model.predict(xv_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Recall:", recall)
print("Precision:", precision)
print("F1 Score:", f1)

Accuracy: 0.9860071301247771
Recall: 0.9877582249426167
Precision: 0.9823093018832033
F1 Score: 0.9850262279446829

In [ ]:
# Initialize and train the Decision Tree model
model = DecisionTreeClassifier(random_state=10)
model.fit(xv_train, y_train)

# Make predictions
y_pred = model.predict(xv_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Recall:", recall)
print("Precision:", precision)
print("F1 Score:", f1)

In [ ]:
# Initialize and train the Random Forest model
model = RandomForestClassifier(random_state=10)
model.fit(xv_train, y_train)

# Make predictions
y_pred = model.predict(xv_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Accuracy:", accuracy)
print("Recall:", recall)
print("Precision:", precision)
print("F1 Score:", f1)

In [ ]:
import joblib

# Save the trained model
joblib.dump(model, 'logistic_regression_model.pkl')
print("Model saved successfully!")

# Save the vectorizer
joblib.dump(vectorization, 'tfidf_vectorizer.pkl')
print("Vectorizer saved successfully!")

In [42]:
import joblib

# Load the saved model and vectorizer
loaded_model = joblib.load('logistic_regression_model.pkl')
loaded_vectorizer = joblib.load('tfidf_vectorizer.pkl')

# Input a new article
new_article = input("Enter a new article for classification: ")

# Vectorize the new article using the loaded TfidfVectorizer
new_article_vectorized = loaded_vectorizer.transform([new_article])

# Predict the class of the new article
new_prediction = loaded_model.predict(new_article_vectorized)

# Display the prediction
print("Predicted class for the new article:", new_prediction[0])

Enter a new article for classification: MINSK (Reuters) - In the shadow of disused Soviet-era factories in Minsk, a street lined with eclectic bars, art galleries and yoga studios has become a haven from the vigilant eyes of the Belarussian authorities.  This place is like an island,  said Yegor, 21, who works at  popular bar Hooligan.  It s the street of freedom.  The government of President Alexander Lukashenko, who has ruled Belarus for the past 23 years and has boasted that he is  the last and only dictator in Europe  ,has little tolerance for any opposition. A powerful police force and feared state security  keep citizens in check. But police patrols are rare in Oktyabrskaya, partly due to its location on an out-of-the-way peninsula in a bend of the river Svislach. When the first restaurant opened there in 2012, few visitors came but now it ranks among the most fashionable quarters of Minsk.  Such is the growing popularity of that Oktyabrskaya that investors such as Belgazprombank, a subsidiary of state-owned Russian lender Gazprombank, have big plans for the district. Earlier this year the bank purchased part of a factory there and intends to turn it into a gallery, restaurant and theater complex. The manufacturing sector has not entirely abandoned Oktyabrskaya - one  machine-making factory named after the 1917 October Revolution (MZOR) still operates there. Financial difficulties prompted state-owned MZOR to lease or sell some of its facilities to Oktyabrskaya s developers, but the firm still maintains some production with a reduced workforce. Mikhail, who has worked at the factory for 42 years, said he approves of the influx of new  hipster  businesses.  The street has come back to life,  he said. Oktyabrskaya s long-term future ultimately depends on the authorities good favor, cultural analyst Maksim Zhbankov said.  For now they tolerate it. But I can t say that someone won t turn up tomorrow and say they ve decided to tear it all down,  he said.
Predicted class for the new article: 1